<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/jqueryweui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="m-gd-live-livelist">
        <div class="m-gd-pulic-topTitle m-eg-lessonList-topTitle">
            <a href="">
                <p class="pulic-leftTitle">标题</p>
                <p class="pulic-rightTitle"><i>更多</i> &gt;</p>
            </a>
        </div>
        <ul>
            <li>
                <div class="livelist-top">
                    <img src="../img/public.png" alt="">
                    <div>直播中</div>
                    <!--<div v-else>待直播</div>-->
                </div>
                <div class="livelist-bottom">
                    <h2>标题</h2>
                    <p>标签</p>
                </div>
            </li>
        </ul>
    </div>


    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../lib/jqueryweui/js/jquery-weui.min.js"></script>
    <script src="../js//public.js"></script>
</body>

</html>