<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/jqueryweui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../lib/jqueryweui/css/weui.min.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <ul class="m-gd-public-listThree">
        <li class="weui-cell weui-cell_swiped listThree-li">
            <div class="weui-cell__bd listThree-li-bd">
                <div class="weui-cell">
                    <div class="weui-cell__bd ">
                        <img src="../img/public.png" alt="">
                    </div>
                    <div class="weui-cell__ft listThree-li-bd-ft">
                        <p class="listThree-li-right-title">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
                        <div class="listThree-li-right-bot">
                            <p class="bot-p1">20000人观看</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-cell__ft">
                <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>
            </div>
        </li>
    </ul>

    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../lib/jqueryweui/js/jquery-weui.min.js"></script>
    <script src="../lib/jqueryweui/js/fastclick.js"></script>
    <script src="../js//public.js"></script>
</body>

</html>