<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/jqueryweui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <ul class="m-gd-public-listOne">
        <li class="listOne-li allWidth">
            <a href="#">
                <div class="listOne-li-left leftPublic">
                    <img src="../img/public.png" alt="" class="left-img">
                    <div>
                        <img src="" alt="">
                        <p>直播</p>
                    </div>
                </div>
                <div class="listOne-li-right rightPublic">
                    <p class="listOne-li-right-title">标题</p>
                    <div class="listOne-li-right-bot">
                        <!--<p class="bot-p1">￥200</p>-->
                        <p class="bot-p1"><img src="../img/icon-look.png" alt="">200</p>
                        <p class="bot-p2">20000人观看</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>


    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../lib/jqueryweui/js/jquery-weui.min.js"></script>
    <script src="../js//public.js"></script>
</body>

</html>