<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <ul class="m-gd-public-listTwo">
       <li class="listTwo-li allWidth">
            <a href="#">
                <div class="listTwo-li-left leftPublic">
                    <img src="../img/public.png" alt="">
                </div>
                <div class="listTwo-li-right rightPublic">
                    <p class="listTwo-li-right-title">标题</p>
                    <!--<div class="listTwo-li-right-bot">-->
                    <p class="listTwo-li-right-bot">上课时间：2018-04-4  至 2018-04-14 </p>
                    <!--</div>-->
                </div>
            </a>
       </li>
    </ul>

    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../js//public.js"></script>
</body>
</html>