<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../lib/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="../css/swiperDel.css">
</head>

<body>
    <div class="m-gd-public-swiper">
        <p class="swiper-title">
            这是标题
        </p>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../img/index/hotVideo_img.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../img/index/hotVideo_img.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../img/index/hotVideo_img.png" alt="">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-lateText">
            <p>这是详情1</p>
        </div>
    </div>

    <script src="../lib/jquery/jquery-3.2.1.js"></script>
    <script src="../lib/swiper/js/swiper.min.js"></script>
    <script src="../js/swiperDel-2.js"></script>
</body>

</html>